#btn {
  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 100px;
  cursor: pointer;;
  font-weight: bold;
  user-select: none;
}
#btn:hover {
  opacity: 0.9;
}